
/*Galeria*/
/*Para que el contenedor muestre elementos aunque estos sean flotantes*/



/*Estructura de cada componente de la galeria (imagen + descripcion)*/
#container div {
	position: relative;
	width: 34%;
	height: 500px;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	transform: rotate(-1deg);
	margin: 5px 3% 5px 0;
	z-index: 2;
	float:left;
	transition: width 1s, width 1s, top 1s;
	-webkit-transition: -webkit-transform 1s, width 1s, top 1s;
	-moz-transition: -webkit-transform 1s, width 1s, top 1s;
}

/*Se rota ligeramente al posicionarnos encima del componente de la galeria (imagen + descripcion)*/
#container div:hover {
	-webkit-animation: rotate-img 1s;
	-o-animation: rotate-img 1s;
	-moz-animation: rotate-img 1s;
	-ms-animation: rotate-img 1s;
	animation: rotate-img 1s;
	-webkit-transform: rotate(0deg);
}

#container div.select {
	-webkit-transform: rotate(0deg);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(0, 0, 0, 0.5);
	margin: 0;
}

#container div.select img {
	width: 56%;
	height: auto;
	box-shadow: 0 0 20px #DDD;
	border: 5px solid #FFF;
	position: fixed;
	top: 20%;
	left: 20%;
}

#container div.select+div {
	margin: 5px 3% 5px 31%;
}

#container div img {
	width: 100%;
	height: auto;
	box-shadow: 0 0 10px #666;
	border: 5px solid #FFF
}

/*Estructura de la descripcion, por defecto no se muestra*/
#container div img ~ span {
	width: auto;
	opacity: 0;
	-webkit-transition: opacity 1s;
	margin: 0;
	padding: 5px 10px;
	border-radius: 2px;
	color: #000;
	background: rgb(255, 255, 255);
	text-align: center;
	position: fixed;
	top: 20%;
	left: 20%;
}

/*Se muestra la descripcion al posicionar el cursor encima de la imagen*/
#container div.select img+span {
	opacity: 1;
}

/*Media query de ejemplo para pantallas de alta resolucion
              pero pueden haber mas, este media query permite mostrar hasta 5 imagenes por filas
            */
@media (min-width:1600px){
                #container div{
                    width: 15%;
                }

                #container div.select + div{
                    margin: 5px 3% 5px 15%;
                }

            }

            @keyframes rotate-img
            {
                0%   {transform:rotate(10deg);}
            20%  {transform:rotate(-10deg);}
            40%   {transform:rotate(12deg);}
            60%  {transform:rotate(-12deg);}
            80%   {transform:rotate(8deg);}
            90%  {transform:rotate(-8deg);}
            100%  {transform:rotate(0deg);}
            }

            @-moz-keyframes rotate-img
            {
                0%   {-moz-transform:rotate(10deg);}
            20%  {-moz-transform:rotate(-10deg);}
            40%   {-moz-transform:rotate(12deg);}
            60%  {-moz-transform:rotate(-12deg);}
            80%   {-moz-transform:rotate(8deg);}
            90%  {-moz-transform:rotate(-8deg);}
            100%  {-moz-transform:rotate(0deg);}
            }

            @-webkit-keyframes rotate-img
            {
                0%   {-webkit-transform:rotate(4deg);}
            20%  {-webkit-transform:rotate(-4deg);}
            40%   {-webkit-transform:rotate(3deg);}
            60%  {-webkit-transform:rotate(-3deg);}
            80%   {-webkit-transform:rotate(2deg);}
            90%  {-webkit-transform:rotate(-2deg);}
            100%  {-webkit-transform:rotate(0deg);}
            }

      
